$color: yellow;
h1 {
  text-align: center;
  color: blue;
  background-color: #d46ac9;
  height: inherit;
  margin-left: 400px;
  margin-right: 400px;
}

.scrapeExample {
  color: black;
  font-family: fantasy;
  background-color: #35c246;
  height: auto;
  width: 800;
  text-indent: 275px;
  padding: 50px;
  margin-left: 430px;
  margin-right: 430px;
}

.login {
  height: 100px;
  width: 400px;
  background-color: #dae622;
  margin-top: 30px;
  margin-bottom: 1100px;
  border-style: double;
  padding-left: 130;
  padding-top: 4.7em;
  margin: 600px;
}

.input{
  text-align: center;
   padding: 40px;
}

.bgr {
  background-image: url('pirate-cubes.jpg');
  background-size: cover;
}

.linkToGotop {
  text-align: center;
  text-color: red;
  margin-top: 200px;
}

.grid{
  background-color: rgb(161, 17, 135);
  display: grid;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  padding: 20px;
  grid-column-gap: 20px;
  grid-template-columns: 200px 200px auto;

}
.grid-item{
  background-color: white;
  font-size: 20px;
}

#ul{
  font-size: 20px;
  color: $color;
}

#ol{
  font-size: 20px;
  color: $color;
}
